<!DOCTYPE html>
<html>
  <head>
    <title>DDSS PA2 - Part 1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <!-- Link to CSS file -->
  </head>
  <body>
    <!-- Main Container -->
    <div class="container">
      <h1>Design and Development of Secure Software</h1>
      <h2>Practical Assignment #2</h2>

      <div class="disclaimer">
        DISCLAIMER: This code is to be used in the scope of the
        <em>DDSS</em> course. <br /><br />
        <b>Important:</b> These sources are merely suggestions of
        implementations. You should modify everything you deem necessary and be
        responsible for all the content that is delivered.
        <em
          >The contents of this repository do not replace the proper reading of
          the assignment description.</em
        >
      </div>

      <br /><br />

      <!-- Links to Parts -->

      <a href="part1.html">Part 1.1</a>
      {% if session['username'] %}
      <a href="part2.html">Part 1.2</a>
      <a href="part3.html">Part 1.3</a>
      {% else %}
      <p>
        You must <a href="part1.html">Log In</a> or
        <a href="register.html">Register</a> to access Part 1.2 and Part 1.3.
      </p>
      {% endif %}
    </div>

    <!-- Link to external JavaScript file -->
    <script src="static/js/script.js"></script>
  </body>
</html>
