<!DOCTYPE html>
<html>
  <head>
    <title>DDSS PA2 - Part 1.1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script type="text/javascript">
      {% if message == 'Failed Credentials' %}
          alert('Failed Credentials');
      {% elif message == 'Sucess' %}
          alert('Sucess');
      {% elif message == 'Username not permitted' %}
          alert('Username not permitted');
      {% elif message == 'Password not permitted' %}
          alert('Password not permitted')
      {% endif %}
  </script>
  </head>
  <body>
    <div class="container">
      <h1>Design and Development of Secure Software</h1>
      <h2>Practical Assignment #2 - Part 1.1</h2>
      <div class="disclaimer">
        DISCLAIMER: This code is to be used in the scope of the
        <em>DDSS</em> course. 
        <br></br>
        <b>Important:</b> these sources are merely
        suggestions of implementations. You should modify everything you deem as
        necessary and be responsible for all the content that is delivered.
        <em
          >The contents of this repository do not replace the proper reading of
          the assignment description.</em
        >
      </div>
      <br />

      <!-- Vulnerable Form -->
      <form action="/part1_vulnerable" class="form-container vulnerable-form">
        <table class="form-table">
          <thead>
            <tr>
              <th colspan="2"><b>Part 1.0 - Vulnerable Form</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Username</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="v_username"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="v_password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Remember me</label></td>
              <td>
                <input type="checkbox" checked="checked" name="v_remember" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="submit">Login</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

      <!-- Correct Form -->
      <form action="/part1_correct" class="form-container correct-form">
        <table class="form-table">
          <thead>
            <tr>
              <th colspan="2"><b>Part 1.1 - Correct Form</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Username</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="c_username"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="c_password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Remember me</label></td>
              <td>
                <input type="checkbox" checked="checked" name="c_remember" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="submit">Login</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
