<!DOCTYPE html>
<html>
  <head>
    <title>DDSS PA2 - Part 1.1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
      {% if message == 'Failed Credentials' %}
          <script>alert('Failed Credentials');</script>
      {% elif message == 'Success' %}
          <script>alert('Success');</script>
      {% elif message == 'Username not permitted' %}
          <script>alert('Username not permitted');</script>
      {% elif message == 'Password not permitted' %}
          <script>alert('Password not permitted');</script>
      {% endif %}
     
  </head>
  <body>
    
    <div class="container">
      {% if session['username'] %}
                <h1>Welcome {{ session['username'] }}!</h1>
                <br>
                <h2>Insert New Book</h2>
                <form action="/insert_book" method="POST" onsubmit="return validateForm(event)">
                  <table>
                      <tr>
                          <td><label for="title">Title:</label></td>
                          <td><input type="text" id="title" name="title" required></td>
                      </tr>
                      
                      <tr>
                          <td><label for="authors">Authors:</label></td>
                          <td><input type="text" id="authors" name="authors" required></td>
                      </tr>
                      
                      <tr>
                        <td><label for="category">Category:</label></td>
                        <td>
                            <select id="category" name="category" required>
                                <option value=""> </option>
                                <option value="2">Databases</option>
                                <option value="3">HTML &amp; Web design</option>
                                <option value="1">Programming</option>
                            </select>
                        </td>
                      </tr>
                      
                      <tr>
                          <td><label for="price">Price:</label></td>
                          <td><input type="number" id="price" name="price" step="0.01" required></td>
                      </tr>
                      
                      <tr>
                          <td><label for="book_date">Book Date:</label></td>
                          <td><input type="date" id="book_date" name="book_date" required></td>
                      </tr>
                      
                      <tr>
                          <td><label for="description">Description:</label></td>
                          <td><textarea id="description" name="description" rows="4" cols="50" required></textarea></td>
                      </tr>
                      
                      <tr>
                          <td><label for="keywords">Keywords:</label></td>
                          <td><input type="text" id="keywords" name="keywords"></td>
                      </tr>
                      
                      <tr>
                          <td><label for="notes">Notes:</label></td>
                          <td><input type="text" id="notes" name="notes"></td>
                      </tr>
                      
                      <tr>
                          <td><label for="recomendation">Recomendation (1-5):</label></td>
                          <td><input type="number" id="recomendation" name="recomendation" min="1" max="5" required></td>
                      </tr>
                      
                      <tr>
                          <td colspan="2" style="text-align:center;">
                              <button type="submit" class="form-button">Add Book</button>
                          </td>
                      </tr>
                  </table>
              </form>              
               <!-- Display message if available -->
                {% if messages %}
                <div class="message {{ message_type }}">
                    {{ messages }}
                </div>
                {% endif %}
                <a href="/logout">Logout</a>
      {% else %}
      <h1>Design and Development of Secure Software</h1>
      <h2>Practical Assignment #2 - Part 1.1</h2>
      <div class="disclaimer">
        DISCLAIMER: This code is to be used in the scope of the
        <em>DDSS</em> course. 
        <br></br>
        <b>Important:</b> these sources are merely
        suggestions of implementations. You should modify everything you deem as
        necessary and be responsible for all the content that is delivered.
        <em
          >The contents of this repository do not replace the proper reading of
          the assignment description.</em
        >
      </div>
      <br />
      <div class="container">
      <!-- Vulnerable Form -->
      <form action="/part1_vulnerable" class="form-container vulnerable-form">
        <table class="form-table">
          <thead>
            <tr>
              <th colspan="2"><b>Part 1.0 - Vulnerable Form</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Username</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="v_username"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="v_password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Remember me</label></td>
              <td>
                <input type="checkbox" checked="checked" name="v_remember" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="submit">Login</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>

      <!-- Correct Form -->
      <form action="/part1_correct" class="form-container correct-form">
        <table class="form-table">
          <thead>
            <tr>
              <th colspan="2"><b>Part 1.1 - Correct Form</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Username</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="c_username"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="c_password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Remember me</label></td>
              <td>
                <input type="checkbox" checked="checked" name="c_remember" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="submit">Login</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <a href="register.html">Register</a>
      {% endif %}

      <a href="{{ url_for('target') }}">Go to home</a>
    
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
