<!DOCTYPE html>
<html>
  <head>
    <title>DDSS PA2 - Part 1.3</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Design and Development of Secure Software</h1>
      <h2>Practical Assignment #2 - Part 1.3</h2>
      <div class="disclaimer">
        DISCLAIMER: This code is to be used in the scope of the
        <em>DDSS</em> course. 
        <br> </br> 
        <b>Important:</b> these sources are merely
        suggestions of implementations. You should modify everything you deem as
        necessary and be responsible for all the content that is delivered.
        <em
          >The contents of this repository do not replace the proper reading of
          the assignment description.</em
        >
      </div>
      <br />
      <br />

      <div id="forms-mix">
            <form action="/part3_vulnerable" class="form-container vulnerable-form" method="post"> 
              <table class="vuln-table">
                <thead>
                  <tr>
                    <th colspan="2">
                      <b>Part 3.0 - Vulnerable Form</b>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td valign="middle">Title</td>
                    <td>
                      <input
                        type="text"
                        name="v_name"
                        maxlength="200"
                        value=""
                        size="20"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Author</td>
                    <td>
                      <input
                        type="text"
                        name="v_author"
                        maxlength="100"
                        value=""
                        size="20"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td valign="middle">Category</td>
                    <td>
                      <select name="v_category_id">
                        <option value="">All</option>
                        <option value="2">Databases</option>
                        <option value="3">HTML &amp; Web design</option>
                        <option value="1">Programming</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Price more then</td>
                    <td>
                      <input
                        type="text"
                        name="v_pricemin"
                        maxlength="100"
                        value=""
                        size="10"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Price less then</td>
                    <td>
                      <input
                        type="text"
                        name="v_pricemax"
                        maxlength="100"
                        value=""
                        size="10"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" align="center" valign="middle">Advanced</td>
                  </tr>
                  <tr>
                    <td valign="middle">Search For:<br /></td>
                    <td>
                      <input size="35" name="v_search_input" />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Within:</td>
                    <td>
                      <select name="v_search_field" size="1">
                        <option value="any" selected>Anywhere</option>
                        <option value="title">Title</option>
                        <option value="authors">Authors</option>
                        <option value="desc">Description</option>
                        <option value="keys">Keywords</option>
                        <option value="notes">Notes</option>
                      </select>
                    </td>
                  </tr>
                  <!-- Allow "any," "all," or "phrase" -->
                  <tr>
                    <td valign="middle">Match:</td>
                    <td>
                      <input
                        type="radio"
                        name="v_radio_match"
                        value="any"
                        checked="checked"
                      />Any word <br />
                      <input type="radio" name="v_radio_match" value="all" />All
                      words <br />
                      <input
                        type="radio"
                        name="v_radio_match"
                        value="phrase"
                      />Exact phrase<br />
                    </td>
                  </tr>
                  <!-- Date range criteria -->
                  <tr>
                    <td colspan="2" align="center">Date</td>
                  </tr>
                  <tr>
                    <td align="right">From:</td>
                    <td>
                      <input type="date" name="v_sp_start_date" />
                    </td>
                  </tr>
                  <tr>
                    <td align="right">To:</td>
                    <td>
                      <input type="date" name="v_sp_end_date" />
                    </td>
                  </tr>

                  <!-- Sort results by relevance or by date -->
                  <tr>
                    <td valign="middle">Sort by:</td>
                    <td>
                      <select name="v_sp_s" size="1">
                        <option value="0" selected>relevance</option>
                        <option value="1">date</option>
                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td align="right" colspan="2">
                      <button type="submit" class="form-button">Search</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>

            <form action="/part3_correct" class="form-container correct-form" method="post">
              <table  class="correct-table">
                <thead>
                  <tr>
                    <th colspan="2">
                      <b>Part 3.1 - Correct Form</b>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td valign="middle">Title</td>
                    <td>
                      <input
                        type="text"
                        name="c_name"
                        maxlength="200"
                        value=""
                        size="20"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Author</td>
                    <td>
                      <input
                        type="text"
                        name="c_author"
                        maxlength="100"
                        value=""
                        size="20"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td valign="middle">Category</td>
                    <td>
                      <select name="c_category_id">
                        <option value="">All</option>
                        <option value="2">Databases</option>
                        <option value="3">HTML &amp; Web design</option>
                        <option value="1">Programming</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Price more then</td>
                    <td>
                      <input
                        type="text"
                        name="c_pricemin"
                        maxlength="100"
                        value=""
                        size="10"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Price less then</td>
                    <td>
                      <input
                        type="text"
                        name="c_pricemax"
                        maxlength="100"
                        value=""
                        size="10"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" align="center" valign="middle">Advanced</td>
                  </tr>
                  <tr>
                    <td valign="middle">Search For:<br /></td>
                    <td>
                      <input size="35" name="c_search_input" />
                    </td>
                  </tr>
                  <tr>
                    <td valign="middle">Within:</td>
                    <td>
                      <select name="c_search_field" size="1">
                        <option value="any" selected>Anywhere</option>
                        <option value="title">Title</option>
                        <option value="authors">Authors</option>
                        <option value="desc">Description</option>
                        <option value="keys">Keywords</option>
                        <option value="notes">Notes</option>
                      </select>
                    </td>
                  </tr>
                  <!-- Allow "any," "all," or "phrase" -->
                  <tr>
                    <td valign="middle">Match:</td>
                    <td>
                      <input
                        type="radio"
                        name="c_radio_match"
                        value="any"
                        checked="checked"
                      />Any word <br />
                      <input type="radio" name="c_radio_match" value="all" />All
                      words <br />
                      <input
                        type="radio"
                        name="c_radio_match"
                        value="phrase"
                      />Exact phrase<br />
                    </td>
                  </tr>
                  <!-- Date range criteria -->
                  <tr>
                    <td colspan="2" align="center">Date</td>
                  </tr>
                  <tr>
                    <td align="right">From:</td>
                    <td>
                      <input type="date" name="c_sp_start_date" />
                    </td>
                  </tr>
                  <tr>
                    <td align="right">To:</td>
                    <td>
                      <input type="date" name="c_sp_end_date" />
                    </td>
                  </tr>


                  <!-- Sort results by relevance or by date -->
                  <tr>
                    <td valign="middle">Sort by:</td>
                    <td>
                      <select name="c_sp_s" size="1">
                        <option value="0" selected>relevance</option>
                        <option value="1">date</option>
                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td align="right" colspan="2">
                      <button type="submit" class="form-button">Search</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>

      </div>
      
       <!-- Display error if available -->
      {% if error %}
      <div class="error">
          <p>Error: {{ error }}</p>
      </div>
      {% endif %}
  
      {% if results %}
          <h2>Search Results</h2>
          <table>
              <tbody>
                  {% for book in results %}
                      <tr>
                          <td><strong>Title:</strong></td>
                          <td>{{ book[1] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Authors:</strong></td>
                          <td>{{ book[2] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Category:</strong></td>
                          <td>{{ book[3] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Price:</strong></td>
                          <td>${{ book[4] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Date:</strong></td>
                          <td>{{ book[5] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Description:</strong></td>
                          <td>{{ book[6] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Keywords:</strong></td>
                          <td>{{ book[7] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Notes:</strong></td>
                          <td>{{ book[8] }}</td>
                      </tr>
                      <tr>
                          <td><strong>Recommendation:</strong></td>
                          <td>{{ book[9] }}</td>
                      </tr>
                      <tr>
                          <td colspan="2"><hr></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% elif request.method == "POST" %}
          <p>No results found.</p>
      {% endif %}
  
        <a href="{{ url_for('target') }}">Go to home</a>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
