<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Design and Development of Secure Software</h1>
      <h2>Practical Assignment #2 - Register</h2>
      <br />

      <!-- Vulnerable Form -->
      <form action="/register" class="form-container correct-form">
        <table class="form-table">
          <thead>
            <tr>
              <th colspan="2"><b>Register</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><label>Username</label></td>
              <td>
                <input
                  type="text"
                  placeholder="Enter Username"
                  name="c_username"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="c_password"
                  required
                />
              </td>
            </tr>
            <tr>
              <td><label>Confirmation Password</label></td>
              <td>
                <input
                  type="password"
                  placeholder="Enter Password"
                  name="c_passwordv"
                  required
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                <button type="submit">Regist</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <!-- Display message if available -->
      {% if messages %}
      <div class="message {{ message_type }}">{{ messages }}</div>
      {% endif %} {% if qr_code %}
      <p>Scan the QR code with Google Authenticator:</p>
      <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" />
      <p>
        Alternatively, use this secret key: <strong>{{ mfa_secret }}</strong>
      </p>
      {% endif %}
      <a href="{{ url_for('login') }}">Go Back</a>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
